body{
    color: rgb(4, 59, 9);

    background-color: black;
    background-image: url(bg2.jpg) ;
    background-size: cover;
}
p {
     font-weight: bold;
     font-size: 45px ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;

}
#p1 {
     font-style: oblique;
     font-size: 23px;
}
a {
    text-align: center;
    color:black;
    text-decoration: none;
    background-color: rgb(221, 184, 233);
    padding: 4px;
    margin: 3px;
    border-style: solid;
    border-width: 2px;
    border-radius: 12%;
    border-color: rgb(167, 188, 227);
    
}
a:hover{
    background-color: rgb(254, 138, 14);
    color: blueviolet;
    border-color: rgb(255, 254, 254);

}
.kozep {
    text-align: center;
}
img {
    position: relative;
    transform: translate(0, 10px);
    border-style:solid;
    border-width:3px;
    border-color: rgb(255, 136, 0);
    border: solid 3px rgb(255, 136, 0);
    border-radius: 12%;
    padding: -1px;
    margin: 0%;
}
table, h1, a, #vissza {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(19, 49, 41);
    font-size: 32px;
}
table {
    font-size: x-large;    
    border-spacing: 4px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
}
td {
    box-shadow: 1px 1px 4px black inset;
    background-color: rgb(64, 38, 136);
    text-align: center;
    border: solid 3px rgb(241, 160, 37);
    padding: 4px;
    color: rgb(32, 255, 2);
    cursor: pointer;
    border-radius: 9px;
}
td:hover {
    background-color: rgb(255, 149, 10);
    color: rgb(255, 252, 66);
    text-shadow: 1px 1px 5px yellow;
}
td.osz {
    font-size: 12px;
}
td.osz > span {
    font-weight: normal;
    font-family: Arial;
    font-size: 10px;
    text-shadow: 1px 1px 4px black;
    color: rgb(30, 255, 0);
}
th {
    width: 120px;
    background-color: rgb(64, 202, 126);
    color: rgb(92, 34, 100);
    padding: 7px;
    border-radius: 10px;
}

#gombok {
    display:flex;
    position: relative;
    width:fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    color:rgb(6, 88, 60)
}

#kor {
    animation-name: animacio;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animacio {
    0% {cx: 50px; cy: 50px}
    25% {cx: 500px; cy: 50px}
    50% {cx: 500px; cy: 250px}
    75% {cx:50px; cy: 250px}
    100% {cx: 50px; cy: 50px}
}

svg {
    border: solid rgb(125, 117, 233);
    background-color: rgb(117, 233, 140);
}
